{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'The Wagtail Experience' %}</h1>
    <p class="lead">{% trans 'Learn content management in two minutes.' %}</p>
    <div class="jumbotron">
        <form method="post" autocomplete="off" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group form-group-lg">
                <label for="{{ form.name.id_for_label }}">{% trans 'What is your firstname?' %}</label>
                {{ form.name }}
                {% if form.name.errors %}{{ form.name.errors }}{% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Start' %}</button>
        </form>
        <script>
            document.getElementById("id_name").focus();
        </script>
    </div>
{% endblock %}
